/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./btn-toggle/main.scss ***!
  \***************************************************************************************************************/
@charset "UTF-8";
:root {
  --bg-color: #e0e0e0;
  --element-bg: #e0e0e0;
  --shadow-light: #ffffff;
  --shadow-dark: #bebebe;
  --text-color: #333333;
}

[data-theme=dark] {
  --bg-color: #1e1e1e;
  --element-bg: #2e2e2e;
  --shadow-light: #3a3a3a;
  --shadow-dark: #0a0a0a;
  --text-color: #f0f0f0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-button {
  background: var(--element-bg);
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  box-shadow: 8px 8px 16px var(--shadow-dark), -8px -8px 16px var(--shadow-light);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  position: relative;
}

.toggle-button:active {
  box-shadow: inset 8px 8px 16px var(--shadow-dark), inset -8px -8px 16px var(--shadow-light);
  transform: scale(0.95);
}

.toggle-icon {
  font-size: 2rem;
  transition: transform 0.3s ease;
}

/* Animação de Rotação ao Mudar de Tema */
[data-theme=dark] .toggle-icon {
  transform: rotate(180deg);
}
