/* Variáveis de cores */
:root {
  --background-color: #f0f0f3;
  --text-color: #333;
  --toggle-background: #e0e0e0;
  --toggle-ball: #fff;
  --shadow-dark: rgba(255, 255, 255, 0.7);
  --shadow-light: rgba(0, 0, 0, 0.15);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.toggle-wrapper {
  position: relative;
}

.toggle-label {
  width: 60px;
  height: 30px;
  background: var(--toggle-background);
  display: block;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  box-shadow: inset 1px 1px 2px var(--shadow-light),
              inset -1px -1px 2px var(--shadow-dark),
              1px 1px 1px var(--shadow-light),
              -1px -1px 1px var(--shadow-dark);
  transition: background 0.5s, box-shadow 0.5s;
}

.toggle-ball {
  width: 22px;
  height: 22px;
  background: var(--toggle-ball);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  box-shadow: 1px 1px 2px var(--shadow-light),
              -1px -1px 2px var(--shadow-dark),
              -1px -1px 2px var(--shadow-light) inset,
              1px 1px 2px var(--shadow-dark) inset;
  transition: transform 0.5s, background 0.5s, box-shadow 0.5s;
}

#toggle {
  display: none;
}

#toggle:checked + .toggle-label .toggle-ball {
  transform: translateX(30px) translateY(-50%);
}

.dark-mode {
  --background-color: #1c1c1c;
  --text-color: #f0f0f3;
  --toggle-background: #2e2e2e;
  --toggle-ball: #1c1c1c;
  --shadow-light: rgba(0, 0, 0, 0.7);
  --shadow-dark: rgba(255, 255, 255, 0.1);
}
