/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./simple-flip-clock/main.scss ***!
  \**********************************************************************************************************************/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
  font-family: Arial, sans-serif;
}

.clock {
  font-size: 48px;
  color: #fff;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
}
