/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./periodic-table/main.scss ***!
  \*******************************************************************************************************************/
* {
  box-sizing: border-box;
}

.element-card[data-classification=alkali-metal] .card-front {
  background-color: #ff6666;
  color: black;
}

.element-card[data-classification=alkali-metal] .card-front .symbol,
.element-card[data-classification=alkali-metal] .card-front .element-name,
.element-card[data-classification=alkali-metal] .card-front .atomic-number {
  color: black;
}

.element-card[data-classification=alkali-metal] .card-back table tr td:first-child {
  color: red;
}

.element-card[data-classification=alkaline-earth-metal] .card-front {
  background-color: #ffcc99;
  color: rgb(51, 25.5, 0);
}

.element-card[data-classification=alkaline-earth-metal] .card-front .symbol,
.element-card[data-classification=alkaline-earth-metal] .card-front .element-name,
.element-card[data-classification=alkaline-earth-metal] .card-front .atomic-number {
  color: rgb(51, 25.5, 0);
}

.element-card[data-classification=alkaline-earth-metal] .card-back table tr td:first-child {
  color: #ff9933;
}

.element-card[data-classification=transition-metal] .card-front {
  background-color: #ffccff;
  color: #660066;
}

.element-card[data-classification=transition-metal] .card-front .symbol,
.element-card[data-classification=transition-metal] .card-front .element-name,
.element-card[data-classification=transition-metal] .card-front .atomic-number {
  color: #660066;
}

.element-card[data-classification=transition-metal] .card-back table tr td:first-child {
  color: #ff66ff;
}

.element-card[data-classification=post-transition-metal] .card-front {
  background-color: #ccccff;
  color: #000066;
}

.element-card[data-classification=post-transition-metal] .card-front .symbol,
.element-card[data-classification=post-transition-metal] .card-front .element-name,
.element-card[data-classification=post-transition-metal] .card-front .atomic-number {
  color: #000066;
}

.element-card[data-classification=post-transition-metal] .card-back table tr td:first-child {
  color: #6666ff;
}

.element-card[data-classification=metalloid] .card-front {
  background-color: #99cc99;
  color: black;
}

.element-card[data-classification=metalloid] .card-front .symbol,
.element-card[data-classification=metalloid] .card-front .element-name,
.element-card[data-classification=metalloid] .card-front .atomic-number {
  color: black;
}

.element-card[data-classification=metalloid] .card-back table tr td:first-child {
  color: #55aa55;
}

.element-card[data-classification=nonmetal] .card-front {
  background-color: #99ffff;
  color: #003333;
}

.element-card[data-classification=nonmetal] .card-front .symbol,
.element-card[data-classification=nonmetal] .card-front .element-name,
.element-card[data-classification=nonmetal] .card-front .atomic-number {
  color: #003333;
}

.element-card[data-classification=nonmetal] .card-back table tr td:first-child {
  color: #33ffff;
}

.element-card[data-classification=halogen] .card-front {
  background-color: #ff99cc;
  color: rgb(51, 0, 25.5);
}

.element-card[data-classification=halogen] .card-front .symbol,
.element-card[data-classification=halogen] .card-front .element-name,
.element-card[data-classification=halogen] .card-front .atomic-number {
  color: rgb(51, 0, 25.5);
}

.element-card[data-classification=halogen] .card-back table tr td:first-child {
  color: #ff3399;
}

.element-card[data-classification=noble-gas] .card-front {
  background-color: #ffccff;
  color: #660066;
}

.element-card[data-classification=noble-gas] .card-front .symbol,
.element-card[data-classification=noble-gas] .card-front .element-name,
.element-card[data-classification=noble-gas] .card-front .atomic-number {
  color: #660066;
}

.element-card[data-classification=noble-gas] .card-back table tr td:first-child {
  color: #ff66ff;
}

.element-card[data-classification=lanthanide] .card-front {
  background-color: #ffb366;
  color: black;
}

.element-card[data-classification=lanthanide] .card-front .symbol,
.element-card[data-classification=lanthanide] .card-front .element-name,
.element-card[data-classification=lanthanide] .card-front .atomic-number {
  color: black;
}

.element-card[data-classification=lanthanide] .card-back table tr td:first-child {
  color: rgb(255, 128.3333333333, 0);
}

.element-card[data-classification=actinide] .card-front {
  background-color: #ff6666;
  color: black;
}

.element-card[data-classification=actinide] .card-front .symbol,
.element-card[data-classification=actinide] .card-front .element-name,
.element-card[data-classification=actinide] .card-front .atomic-number {
  color: black;
}

.element-card[data-classification=actinide] .card-back table tr td:first-child {
  color: red;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  gap: 10px;
  padding: 20px;
  margin: 40px;
}

.element-card {
  position: relative;
  width: 100px;
  height: 130px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out, scale 0.3s ease-in-out;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  transform: scale(var(--scale, 1)) rotateY(var(--rotateY, 0deg)) translate(var(--x, 0), var(--y, 0)) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
}
.element-card.flip {
  --scale: 2;
  --rotateY: 180deg;
}
.element-card:not(.flip) {
  --scale: 1;
  --rotateY: 0deg;
}
.element-card .card-front, .element-card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: transform 0.6s;
}
.element-card .card-front {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.element-card .card-back {
  background-color: #333;
  transform: rotateY(180deg);
  justify-content: flex-start;
  padding: 5px;
  font-size: 12px;
  overflow: hidden;
}
.element-card .atomic-number {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 12px;
}
.element-card .symbol {
  font-size: 32px;
  font-weight: bold;
}
.element-card .element-name {
  position: absolute;
  bottom: 5px;
  font-size: 12px;
}

.card-back table {
  width: 100%;
  text-align: left;
  border-spacing: 5px;
}
.card-back table tr {
  margin-bottom: 2px;
}
.card-back table tr td {
  vertical-align: middle;
}
.card-back table tr td:first-child {
  font-weight: bold;
  padding: 1px 3px;
  font-size: 6px;
  line-height: 1.15;
  text-align: right;
}
.card-back table tr td:last-child {
  font-weight: normal;
  font-size: 8px;
  color: #fff;
}
