@use "sass:map";
@use 'sass:color';

* {
  box-sizing: border-box;
}


$element-colors: (
    "alkali-metal": #ff6666,
    "alkaline-earth-metal": #ffcc99,
    "transition-metal": #ffccff,
    "post-transition-metal": #ccccff,
    "metalloid": #99cc99,
    "nonmetal": #99ffff,
    "halogen": #ff99cc,
    "noble-gas": #ffadbb,
    "lanthanide": #ffcf66,
    "actinide": #ffb366
);

@each $classification, $color in $element-colors {
  .element-card[data-classification="#{$classification}"] .card-front {
    background-color: $color;
    color: color.adjust($color, $lightness: -70%);
  }

  .element-card[data-classification="#{$classification}"] .card-front .element-name,
  .element-card[data-classification="#{$classification}"] .card-front .symbol {
    color: color.adjust($color, $lightness: -70%);
  }
  
  .element-card[data-classification="#{$classification}"] .card-front .atomic-number {
    color: $color;
    background-color: color.adjust($color, $lightness: -55%);
  }

  .element-card[data-classification="#{$classification}"] .card-back table tr td:first-child {
    color: color.adjust($color, $lightness: -10%);
  }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #282c34;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(10, auto); // Aumentamos para 10 linhas
  gap: 10px;
  padding: 20px;
  margin: 40px;
}


.element-card {
    position: relative;
    width: 75px;
    height: 100px;
    perspective: 200px;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out, scale 0.3s ease-in-out;
    transition: transform 0.3s ease, box-shadow 0.4s ease, z-index 0.3s ease-in-out 0.1s;
    z-index: 1;
  
    transform: scale(var(--scale, 1)) rotateY(var(--rotateY, 0deg)) translate(var(--x, 0), var(--y, 0)) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));

    &.flip {
        --scale: 2.5;
        --rotateY: 180deg;
        z-index: 100;
    }

    &:not(.flip) {
      --scale: 1;
      --rotateY: 0deg;
    }

    &.magnetic {
    
    }

    .card-front, .card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      backface-visibility: hidden;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 7px;
      transition: transform 0.4s;
    
      background-color: map-get($element-colors, attr(data-classification));
    }

    .card-front {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .card-back {
      background-color: #333;
      transform: rotateY(180deg);
      justify-content: flex-start; 
      padding: 5px;
      font-size: 12px;
      overflow: hidden;
    }

    .atomic-number {
      position: absolute;
      top: 3px;
      right: 3px;
      font-size: 11px;
      font-weight: 400;
      width: 22px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
    }

    .symbol {
      font-size: 44px;
      font-weight: 600;
    }

    .element-name {
      position: absolute;
      bottom: 5px;
      font-size: 11px;
      font-weight: 500;
    }
}

.card-back {
  table {
    width: 100%;
    text-align: left;
    border-spacing: 2px;
    

    tr {
      margin-bottom: 1px;
      td {
        vertical-align: middle; 
      }
      td:first-child {
        font-weight: bold;
        padding: 1px 2px;
        font-size: 4.5px;
        line-height: 1.15;
        text-align:right;        
      }

      td:last-child {
        font-weight: normal;
        font-size: 6px;
        line-height: 1.15;
        color: #fff;
      }
    }
  }
}
